@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
}

header {
    padding: 20px;
    background-color: black;
}

header>nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

header>nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: semibold;
}

header>nav>ul>li>img {
    width: 11vw;
}


main#homeMain {
    height: max-content;
    background: url(/assests/main.jpg);
    height: 630px;
    width: 100%;
    background-size: cover;

}

main#homeMain>section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13%;
}

main#homeMain h1 {
    color: white;
    font-size: 35px;
    font-weight: 500;
}

main#homeMain>section>div {
    padding: 20px;
}

main#homeMain>section>div>p {
    color: white;
    margin: 30px;
}

button,
button>a {
    padding: 15px;
    border: none;
    border-radius: 3px;
    width: 100%;
    text-decoration: none;

}

button>a {
    color: white;
}

button:hover {
    background-color: black;
    color: white;
}



section {
    text-align: center;
}

section>section {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

section>section #mapSection {
    margin-top: 60px;
}

section>section>div>iframe {
    height: 400px;
    width: 100%;
}

section>section>div {
    margin: 2%;
    padding: 10px;
    flex: 1;
}

section>section img {
    width: 100%;
}

button#movieBtn {
    background-color: black;
    color: white;
    margin-top: 10%;
}

button#movieBtn:hover {
    background-color: #90EE90;
    color: black;
}

#segmentSection {
    height: 2px;
    background-color: black;
}



footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin-top: 10px;

}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer>div>div>img {
    width: 20px;
    color: white;
    margin: 10px;
}

footer p {
    color: white;
}

footer>div section {
    text-align: left;
    padding: 10px;
}

footer>div>section #firstFooterSection {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer>div>section #firstFooterSection>img {
    width: 45px;
    height: 45px;
}

footer h3 {
    color: white;
}

footer>div>section {
    flex: 1;
    margin: 20px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h3#bottomHeader {
    margin-left: 40px;
}

main#forPurchaseAndDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}

main#forPurchaseAndDetails>div {
    text-align: center;
    margin: 60px;
    padding: 50px;
    flex: 1;

}

main#forPurchaseAndDetails>div>label {
    padding: 15px;
    display: block;
    border: 2px solid black;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}

main#forPurchaseAndDetails>div>div {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px dotted black;
    border-radius: 5px;
    margin-top: 15px;
}
main#forPurchaseAndDetails>div>img{
    width: 100%;
    height: 20%;
    
}
main#forPurchaseAndDetails>div>p{
    text-align: justify;
    
}